export REPO_ROOT=`pwd`
export ESPPORT=/dev/cu.SLAB_USBtoUART

# To see all available versions, see https://micropython.org/download/esp32/
export MICROPYTHON_ESP_FIRMWARE=esp32-20210418-v1.15.bin

python3 -m pip install -r requirements.txt

USER_ENV_FILE=.userenv
if [ -f $USER_ENV_FILE ]; then
    source $USER_ENV_FILE
fi